@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url("snow.jpg");
    background-size: cover;
    min-height: 100vh;
    font-family: "poppins",sans-serif;
    margin: 0;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 4rem;
    font-weight: normal;
    margin-top: -10rem;
}
.coundown-container{
    display: flex;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    margin: 0 2rem;
    line-height: 1;
}

.countdown-el{
    text-align: center;
}
.countdown-el span{
    font-size: 1.5rem;
}